@import url(https://fonts.googleapis.com/css?family=Raleway); /* Imports font for overlay */

/* Padding adds distance between border and content */
/* Margin adds distance between the two elements */
/* Padding and margin goes in order top, right, bottom, left */
/* CONTENT --> PADDING --> BORDER --> MARGIN */

* {
/* Setting the default margin and padding to 0 (no space between anything unless specified) */
	margin: 0px;
	padding: 0px;
}

body {
/* Default font setup */
	font-family: segoe ui, segoe ui light, sans-serif; /* Sets the default font */
	font-size: 20px; /* Sets the default font size */
	text-align: center; /* Sets the default text alignment */
	
/* Setting the body to fill the entire window */
    height: 100%;
	margin: 0px;
	padding: 0px;
}

#super-container {
	position: relative; /* Positions container relative to normal position */
	overflow: hidden; /* Hides enlarged background image that exceeds window size (due to body height being 100%) */
}

/***************************************************************************************/
/* Background images */
/* Background is modular because each page has a different background */
/* To change the background of a specific page, change the .PAGENAME class background url */
/* If you want to use a photo already in the Photos folder, change the name of the image; don't forget to put the file type */
/* To use a photo that isn't in the folder. Add the image to the folder and then change the image name */
/* The background image line should look like this: */
/* .PAGENAME { */
/*      background-image: url("Photos/IMAGE NAME.FILETYPE"); */
/*  }	*/


.homepage {
	background-image: url("Photos/photog_img23.jpg"); /* Sets image in directory as background */
}

.aboutus {
	background-image: url("Photos/photog_img28.jpg"); /* Sets image in directory as background */
}

.photogallery {
	background-image: url("Photos/photog_img25.jpg") /* Sets image in directory as background */
}

.newsandevents {
	background-image: url("Photos/hisp_img8.jpg") /* Sets image in directory as background */
}

.history {
	background-image: url("Photos/photog_img10.jpg") /* Sets image in directory as background */
}

.hallandallotments {
    background-image: url("Photos/photog_img21.jpg") /* Sets image in directory as background */
}

.bg-container {
	/* Background adjustment and creation*/
	/* Background adjustment and creation*/
	filter: blur(10px); /* Blurs background by ten pixels */
	background-repeat: no-repeat; /* Background will not repeat if not big enough */
	background-size: cover; /* Background resized to cover window */
	background-position: center;
	/* Container adjustment (includes background) */
	/* Forces element to stretch to full size of parent (style says it reaches all four edges of parent) */
	position: absolute; /* Positions element based on parent's positioning */
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: -100; /* Sets the layer arrangement of layer to be at level -100 (below everything) */
	transform: scale(1.1); /* Enlarges blurred image to get rid of edge of window glowing (due to the blur) */
	
}

/***************************************************************************************/

#wrapper-container {
	padding: 10% 0% 10% 0%; /* Distances wrapper from top of window (wrapper margin used for alignment) */
}

#wrapper {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white; /* Colour of text in element */
	border: 3px solid #f1f1f1; /* Border thickness/stroke type/colour */
	/* min-height: 750px; /* May prevent the background from being cut at bottom of page */
	/* max-width: 800px; /* Maximum width of the wrapper */
	width: 80%; /* Width of wrapper set to be 80% of window size */
	margin: 0px auto 25px; /* Centering the wrapper to the middle of the window */
}

h1 {
	text-align: center; /* Centers header text */
	font-weight: bold; /* Makes header text bold */
}

.row {
	display: flex; /* Scalable container (the row) and items (the columns) */
}

.column {
	justify-content: flex-start; /* Items on a new row are moved to start */
	flex: 1 1 0; /* Allows all flex items to be in the same size - used in image gallery page */
	padding: 5px; /* Space between columns */
	overflow: hidden; /* Hides elements exceeding boundaries */
}

.content {
	position: relative; /* Positions content based on it's normal position */
	width: 100%; /* Content fills up 100% of parent's spacing (up to 400 pixels) */
	max-width: 400px; /* Content not allowed to exceed 400px */
	margin: auto; /* The space between elements is automatically decided */
	overflow: hidden; /* Hides elements exceeding boundaries */
}

.content .content-overlay {
    background: rgba(0,0,0,0.7); /* Sets background to opaque black */
    position: absolute; /* Positions overlay relative to parent (over the container) */
    height: 99%; /* Sets height to 99% of parent height */
    width: 100%; /* Sets width to 100% of parent width */
    left: 0; /* Item not offset by 0 pixels left */
    top: 0; /* Item not offset by 0 pixels top */
    bottom: 0; /* Item not offset by 0 pixels bottom */
    right: 0; /* Item not offset by 0 pixels right */
    opacity: 0; /* Sets opacity to 0 */
    -webkit-transition: all 0.4s ease-in-out 0s; /* Element transition times in and out set to 0.4s and 0s respectively*/
    -moz-transition: all 0.4s ease-in-out 0s; /* Element transition times in and out set to 0.4s and 0s respectively*/
    transition: all 0.4s ease-in-out 0s; /* Element transition times in and out set to 0.4s and 0s respectively*/
}

.content:hover .content-overlay{ /* Triggers when mouse hovers over element */
  opacity: 1; /* Makes object 100% visible */
}

.content-image {
	width: 100%; /* Sets the image to fill 100% of container */
}

.content-details {
	position: absolute; /* Positions overlay relative to parent (over the container) */
	text-align: center; /* Aligns text in elements to center */
	padding-left: 1em; /* Sets distance between content and left border of element to 1 times the font size of content */
	padding-right: 1em; /* Sets distance between content and right border of element to 1 times the font size of content */
	width: 100%; /* Sets width to 100% of it's element */
	top: 50%; /* Specifies that content starts 50% down from the top */
	left: 50%; /* Specifies that content starts 50% right from the left */
	opacity: 0; /* Sets content details invisible*/
    -webkit-transform: translate(-50%, -50%); /* Centers content */
    -moz-transform: translate(-50%, -50%); /* Centers content */
    transform: translate(-50%, -50%); /* Centers content */
    -webkit-transition: all 0.3s ease-in-out 0s; /* Transition speed of overlay text */
    -moz-transition: all 0.3s ease-in-out 0s; /* Transition speed of overlay text */
    transition: all 0.3s ease-in-out 0s; /* Transition speed of overlay text */
}

.content:hover .content-details {
	top: 50%; /* Specifies that content starts 50% down from the top */
	left: 50%; /* Specifies that content starts 50% right from the left */
	opacity: 1; /* Makes contents visible */
}

.content-details h3 { /* Header for image overlay */
	color: #fff; /* Sets content colour */
    font-weight: 500; /* Sets thickness of font */
	letter-spacing: 0.15em; /* Sets letter spacing to 15% of regular font size */
	margin-bottom: 0.5em; /* Sets the space between bottom of element and element below to 50% of regular text size */
	text-transform: uppercase; /* Forces header to be uppercase */
}

.content-details p {
	color: #fff; /* Sets content colour */
	font-size: 0.8em; /* Sets the font to 80% original size */
	font-family: 'Raleway', sans-serif; /* Sets font of the overlay text */
}

.overlay-header {
	font-family: 'Raleway', sans-serif; /* Sets font of overlay header (already set) */
}

.fadeIn-top {
	top: 20%; /* Forces overlay to transition from the top of the button into the center */
}

#backButton {
	margin: 5%; /* Gives back button spacing */
}

#mainText {
	margin: 5%; /* Gives text spacing */
}

#rightAlignContainer p{
	text-align: left; /* Aligns text to the left side of element */
	padding: 2%; /* Spaces paragraphs */
}

.smallHeader {
	margin-top: 2% /* Spaces the header from text above */
}

.galleryContainer {
	width: 95%; /* Sets everything within the container to be 95% of the container's full size */
	margin: 0 auto; /* Centers the container within flex boundaries */
}

.galleryImage p, .imageCaption {
	margin-top: 0px; /* Removes the top margin from paragraphs within the container */
	border-bottom: 1px solid white; /* Adding a border around the text without the top */
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 5px; /* Adds distance between the text and the border */
}

.tableContainer {
	margin: 25px;
	padding: 15px;
	font-size: 15px;
	table-layout: fixed;
	border: 1px solid white;
	text-align: center;
}

.tableDate {
	width: 100px;
	padding: 5px;
}

.tableDescription {
	width: 350px;
}

.tableLink {
	width:250px;
}

.dark {
	background: rgba(0,0,0,0.25); /* Sets background to opaque black */
}

th, td {
	height: 50px;
}

p {
	margin: 25px;
}

.tableDay {
    width: 200px;
}

.tableEvents {
    width: 500px;
}