* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100px;
	font-family: segoe ui, segoe ui light, sans-serif;
	font-size: 20px;
	text-align: center;
}

#wrapper {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white; /* Colour of text in element */
	border: 3px solid #f1f1f1; /* Border thickness/stroke type/colour */
	max-width: 850px; /* Maximum width of the wrapper */
	width: 80%; /* Width of wrapper (if 80% of window size is not bigger than 850 pixels) */
	margin: 0px auto; /* Centering the wrapper to the middle of the window */
}

h1 {
	text-align: center; /* Centers header text */
	font-weight: bold; /* Makes header text bold */
}

.row {
	display: flex; /* Scalable container (the row) and items (the columns) */
}

.column {
	justify-content: flex-start; /* Items on a new row are moved to start */
	padding: 5px; /* Space between columns */
	overflow: hidden; /* Hides elements exceeding boundaries */
}

.content {
	position: relative; /* Positions content based on it's normal position */
	width: 100%; /* Content fills up 100% of parent's spacing (up to 400 pixels) */
	max-width: 400px; /* Content not allowed to exceed 400px */
	margin: auto; /* The space between elements is automatically decided */
	overflow: hidden; /* Hides elements exceeding boundaries */
}

.content .content-overlay {
    background: rgba(0,0,0,0.7); /* Sets background to opaque black */
    position: absolute; /* Positions overlay relative to parent (over the container) */
    height: 99%; /* Sets height to 99% of parent height */
    width: 100%; /* Sets width to 100% of parent width */
    left: 0; /* Item not offset by 0 pixels left */
    top: 0; /* Item not offset by 0 pixels top */
    bottom: 0; /* Item not offset by 0 pixels bottom */
    right: 0; /* Item not offset by 0 pixels right */
    opacity: 0; /* Sets opacity to 0 */
    -webkit-transition: all 0.4s ease-in-out 0s; /* Element transition times in and out set to 0.4s and 0s respectively*/
    -moz-transition: all 0.4s ease-in-out 0s; /* Element transition times in and out set to 0.4s and 0s respectively*/
    transition: all 0.4s ease-in-out 0s; /* Element transition times in and out set to 0.4s and 0s respectively*/
}

.content:hover .content-overlay{ /* Triggers when mouse hovers over element */
  opacity: 1; /* Makes object 100% visible */
}

.content-image {
	width: 100%;
}

.content-details {
	position: absolute; /* Positions overlay relative to parent (over the container) */
	text-align: center; /* Aligns text in elements to center */
	padding-left: 1em; /* Sets distance between content and left border of element to 1 times the font size of content */
	padding-right: 1em; /* Sets distance between content and right border of element to 1 times the font size of content */
	width: 100%; /* Sets width to 100% of it's element */
	top: 50%; /* Specifies that content starts 50% down from the top */
	left: 50%; /* Specifies that content starts 50% right from the left */
	opacity: 0; /* Sets content details invisible*/
    -webkit-transform: translate(-50%, -50%); /* Centers content */
    -moz-transform: translate(-50%, -50%); /* Centers content */
    transform: translate(-50%, -50%); /* Centers content */
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}